{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5 text-center">Заголовки запроса</h1>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0">HTTP заголовки</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Название заголовка</th>
                                <th>Значение</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in headers.items() %}
                            <tr>
                                <td><code>{{ key }}</code></td>
                                <td><code>{{ value }}</code></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}